.register-form {
    width: 500px;
    margin-top: 5rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        margin: 2rem 0 1rem 0;
        font-size: 1.2rem;
    }

    input {
        width: 75%;
        background-color: rgb(112, 112, 112);
        border: none;
        height: 2rem;

        :focus {
            border-color: black;
            background-color: black;
            color: white
        }
        
    }

    h3 {
        color: grey;

        a {
            color: rgb(92, 92, 253);
        }
        a:hover {
            color: black;
            cursor: pointer;
        }
    }
}

.message {
    width: 500px;
    margin: auto;
}

@media (max-width: 430px) {
    .register-form {
        width: 300px;
        margin-top: 2rem;
    }

    label {
        margin: 1rem 0 0.5rem 0;
        font-size: 1.2rem;
    }

    h3 a {
        display: block;
        color: rgb(92, 92, 253);
    }
}